body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.right { float: right; }
.left { float: left; }
.clear { clear: both; }

a {
    color: inherit;
    text-decoration: inherit;
}

div#navbar {
    position: fixed;
    height: 50px;
    width: 100%;
    color: #333333;
    background-color: white;
    border-bottom: 2px solid #E2E2E2;
    box-shadow: 0px 0px 3px #D2D2D2;
}

div#navbar div.left {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    padding: 0px 40px;
    line-height: 50px;
}

div#navbar div.right {
    font-family: 'Montserrat', sans-serif;
    padding-right: 20px;
}

div#navbar div.navitem {
    font-weight: 300;
    display: inline-block;
    line-height: 50px;
    padding: 0px 20px;
}

div#navbar div.navitem.navitem-selected {
    line-height: 45px;
    font-weight: 400;
    border-bottom: 5px solid #FF5722;
}

div#navbar div.navitem:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

div.section {
    min-height: 300px;
}

div.section .large {
    width: 60%;
}

div.section .small {
    width: 38%;

}

div.section h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0px;
    color: #333333;
    padding: 60px 50px 20px 50px;
    text-shadow: 3px 3px 0px #DADADA;
    font-family: 'Montserrat', sans-serif;
}

div.section h2 {
    font-size: 2em;
    margin: 0px;
    padding: 0px 50px;
    font-family: 'Montserrat', sans-serif;
}

div.section#header {
    width: 100%;
    height: 400px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom right, #E53945, #FF8A99);
}

div.section#header h1 {
    color: white;
    text-shadow: 3px 3px 0px #BF360C;
}

div.section#header h2 {
    color: white;
    text-shadow: 2px 2px 0px #BF360C;
}

div.section p {
    padding: 0px 50px;
    padding-bottom: 60px;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.1em;
    color: #333333;
}

div.section.section-dark {
    background-color: #333333;
    color: white;
}

div.section.section-dark h1 {
    color: white;
    text-shadow: 3px 3px 0px #666666;
}

div.section.section-dark p {
    color: white;  
}

#lighthouse {
    margin-top: 20px;
    float: left;
    height: 350px;
    width: 350px;
}

.img-circle {
    border-radius: 200px;
    height: 192px;
    width: 192px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #E2E2E2;
}

.team-table {
    text-align: center;
}

.team-table td:hover {
    background-color: #F2F2F2;
}


div#footer {
    height: 50px;
    width: 100%;
    border-top: 2px solid #EAEAEA;
    background-color: #FAFAFA;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    text-align: center;
    color: #888888;
    line-height: 50px;
}